<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Admin View | Investigo</title>
    <link rel="apple-touch-icon" href="/app-assets/images/favicon/apple-touch-icon-152x152.png">
    <link rel="shortcut icon" type="image/x-icon" href="/app-assets/images/logo/favicon.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- BEGIN: VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/vendors.min.css">
    <!-- END: VENDOR CSS-->
    <!-- BEGIN: Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/css/themes/vertical-dark-menu-template/materialize.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/themes/vertical-dark-menu-template/style.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/page-users.css">
    <!-- END: Page Level CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/css/custom/custom.css">
    <!-- END: Custom CSS-->
</head>
<!-- END: Head-->

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-dark-menu preload-transitions 2-columns   " data-open="click" data-menu="vertical-dark-menu" data-col="2-columns">
    <%- include('_layouts/sidenavbar') %>

    <!-- BEGIN: Page Main-->
    <div id="main">
        <div class="row">
            <div id="breadcrumbs-wrapper" data-image="/app-assets/images/gallery/breadcrumb-bg.jpg">
                <!-- Search for small screen-->
                <div class="container">
                    <div class="row">
                        <div class="col s12 m6 l6">
                            <h5 class="breadcrumbs-title mt-0 mb-0"><span>Admin View</span></h5>
                        </div>
                        <div class="col s12 m6 l6 right-align-md">
                            <ol class="breadcrumbs mb-0">
                                <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                                <li class="breadcrumb-item"><a href="/admin/admin">Admin</a></li>
                                <li class="breadcrumb-item active">Admin View</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="container">
                    <!-- users view start -->
                    <div class="section">
                        <!-- users view media object start -->
                        <div class="card-panel">
                            <div class="row">
                                <div class="col s12 m7">
                                    <div class="display-flex media">
                                        <img src="<%= admin.image %>" alt="users view avatar" class="z-depth-2 circle mr-3" height="64" width="64" onerror="this.onerror=null; this.src='/uploads/default_user.jpg';">
                                        <div class="media-body">
                                            <h6 class="media-heading">
                                                <span class="users-view-name"><%= admin.name || 'Pending' %></span>
                                            </h6>
                                            <span class="users-view-id"><%= admin.email %></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- users view media object ends -->

                        <!-- users view card details start -->
                        <div class="card">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12">
                                        <table class="striped">
                                            <tbody>
                                                <tr>
                                                    <td style="width: 200px;">Name:</td>
                                                    <td><%= admin.name || 'Pending' %></td>
                                                </tr>
                                                <tr>
                                                    <td>E-mail:</td>
                                                    <td><%= admin.email %></td>
                                                </tr>
                                                <% if (admin.phone) { %>
                                                <tr>
                                                    <td>Phone:</td>
                                                    <td><%= admin.phone %></td>
                                                </tr>
                                                <% } %>
                                                <% if (admin.address) { %>
                                                <tr>
                                                    <td>Address:</td>
                                                    <td><%= admin.address %></td>
                                                </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                        <!-- <% if (admin.instagram || admin.twitter || admin.linkedin || admin.facebook) { %>
                                        <h6 class="mb-2 mt-2"><i class="material-icons">link</i> Social Links</h6>
                                        <table class="striped">
                                            <tbody>
                                                <% if (admin.facebook) { %>
                                                <tr>
                                                    <td style="width: 200px;">Facebook:</td>
                                                    <td><a href="<%= admin.facebook %>"><%= admin.facebook %></a></td>
                                                </tr>
                                                <% } %>
                                                <% if (admin.twitter) { %>
                                                <tr>
                                                    <td style="width: 200px;">Twitter:</td>
                                                    <td><a href="<%= admin.twitter %>"><%= admin.twitter %></a></td>
                                                </tr>
                                                <% } %>
                                                <% if (admin.instagram) { %>
                                                <tr>
                                                    <td style="width: 200px;">Instagram:</td>
                                                    <td><a href="<%= admin.instagram %>"><%= admin.instagram %></a></td>
                                                </tr>
                                                <% } %>
                                                <% if (admin.linkedin) { %>
                                                <tr>
                                                    <td style="width: 200px;">Linkedin:</td>
                                                    <td><a href="<%= admin.linkedin %>"><%= admin.linkedin %></a></td>
                                                </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                        <% } %> -->
                                    </div>
                                </div>
                                <div class="row">
                                    <a href="/admin/admin" class="btn btn-danger mt-2" style="margin-left: 15px;">Back</a>
                                </div>
                            </div>
                        </div>
                        <!-- users view card details ends -->

                    </div>
                    <!-- users view ends -->
                </div>
                <div class="content-overlay"></div>
            </div>
        </div>
    </div>
    <!-- END: Page Main-->

    <!-- BEGIN VENDOR JS-->
    <script src="/app-assets/js/vendors.min.js"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN THEME  JS-->
    <script src="/app-assets/js/plugins.js"></script>
    <script src="/app-assets/js/scripts/ui-alerts.js"></script>
    <script src="/app-assets/js/search.js"></script>
    <script src="/app-assets/js/custom/custom-script.js"></script>
    <!-- END THEME  JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="/app-assets/js/scripts/page-users.js"></script>
    <!-- END PAGE LEVEL JS-->
</body>
<%- include('_layouts/alert') %>

</html>