<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Job Application view | Investigo</title>
    <link rel="apple-touch-icon" href="/app-assets/images/favicon/apple-touch-icon-152x152.png">
    <link rel="shortcut icon" type="image/x-icon" href="/app-assets/images/logo/favicon.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- BEGIN: VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/flag-icon/css/flag-icon.min.css">
    <!-- END: VENDOR CSS-->
    <!-- BEGIN: Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/css/themes/vertical-dark-menu-template/materialize.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/themes/vertical-dark-menu-template/style.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-tables.css">
    <!-- END: Page Level CSS-->
</head>
<!-- END: Head-->

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-dark-menu preload-transitions 2-columns" data-open="click" data-menu="vertical-dark-menu" data-col="2-columns">
    <%- include('_layouts/sidenavbar') %>

    <!-- BEGIN: Page Main-->
    <div id="main">
        <div class="row">
            <div id="breadcrumbs-wrapper" data-image="/app-assets/images/gallery/breadcrumb-bg.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m6 l6">
                            <h5 class="breadcrumbs-title mt-0 mb-0"><span>Job Application view</span></h5>
                        </div>
                        <div class="col s12 m6 l6 right-align-md">
                            <ol class="breadcrumbs mb-0">
                                <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                                <li class="breadcrumb-item"><a href="/admin/application">Job Applications</a></li>
                                <li class="breadcrumb-item active">Job Application view</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="container">
                    <div class="section section-data-tables">
                        <!-- Page Length Options -->
                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content">
                                        <!-- <h4 class="card-title">Application</h4> -->
                                        <div class="row">
                                            <div class="col s12">
                                                <table class="display striped">
                                                    <tbody>
                                                        <tr>
                                                            <th>Name</th>
                                                            <td><%= application.fname + " " + application.lname %></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Email</th>
                                                            <td><a style="color: inherit;" href="mailto:<%= application.email %>"><%= application.email %></a></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Phone</th>
                                                            <td><%= application.phone %></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Date and Time</th>
                                                            <td><%= application.date.toLocaleDateString('en-GB') %></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <a href="/admin/application" class="btn btn-danger mt-2" style="margin-left: 15px;">Back</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-content">
                                        <h4 class="card-title">Resume</h4>
                                        <div class="row">
                                            <div class="col s12">
                                                <!-- <object width="100%" height="1100" type="application/pdf" data="<%= application.resume %>#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0">
                                                    <p>Oops! Your browser doesn't support PDFs!</p>
                                                    <p><a href="<%= application.resume %>">Download Instead</a></p>
                                                </object> -->
                                                <iframe src="https://docs.google.com/viewer?url=<%= application.resume %>&embedded=true" style="width:100%; height:80vw;" frameborder="0"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-overlay"></div>
            </div>
        </div>
    </div>
    <!-- END: Page Main-->

    <!-- BEGIN VENDOR JS-->
    <script src="/app-assets/js/vendors.min.js"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN THEME  JS-->
    <script src="/app-assets/js/plugins.js"></script>
    <script src="/app-assets/js/scripts/ui-alerts.js"></script>
    <!-- END THEME  JS-->
</body>
<%- include('_layouts/alert') %>

</html>