<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Edit Package | Investigo</title>
    <link rel="apple-touch-icon" href="/app-assets/images/favicon/apple-touch-icon-152x152.png">
    <link rel="shortcut icon" type="image/x-icon" href="/app-assets/images/logo/favicon.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- BEGIN: VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/flag-icon/css/flag-icon.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css">
    <!-- END: VENDOR CSS-->
    <!-- BEGIN: Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/css/themes/vertical-dark-menu-template/materialize.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/themes/vertical-dark-menu-template/style.css">
    <!-- END: Page Level CSS-->
</head>
<!-- END: Head-->

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-dark-menu preload-transitions 2-columns" data-open="click" data-menu="vertical-dark-menu" data-col="2-columns">
    <%- include('_layouts/sidenavbar') %>

    <!-- BEGIN: Page Main-->
    <div id="main">
        <div class="row">
            <div id="breadcrumbs-wrapper" data-image="/app-assets/images/gallery/breadcrumb-bg.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m6 l6">
                            <h5 class="breadcrumbs-title mt-0 mb-0"><span>Edit Package</span></h5>
                        </div>
                        <div class="col s12 m6 l6 right-align-md">
                            <ol class="breadcrumbs mb-0">
                                <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                                <li class="breadcrumb-item"><a href="/admin/package">Package</a></li>
                                <li class="breadcrumb-item active">Edit Package</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="container">
                    <div class="section">
                        <div class="row">
                            <div class="col s12">
                                <%# messages %>
                                <%- messages('messages', locals) %>
                            </div>
                        </div>
                        <form method="POST" onsubmit="validate()" action="/admin/package/edit/<%= package._id %>" id="form" enctype="multipart/form-data">
                            <div class="col m6 s12">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="col s12">
                                                <h4 class="card-title">English</h4>
                                                <div class="input-field col s12">
                                                    <input placeholder="Title" id="EnTitle" name="EnTitle" type="text" value="<%= package.en.title %>">
                                                    <label for="EnTitle">Title</label>
                                                    <small>
                                                        <div id="EnTitleErr" class="error"></div>
                                                    </small>
                                                </div>
                                                <div class="input-field col s12">
                                                    <textarea id="EnDesc" class="materialize-textarea" name="EnDesc" placeholder="Enter description"><%= package.en.description %></textarea>
                                                    <label for="EnDesc">Description</label>
                                                    <small>
                                                        <div id="EnDescErr" class="error"></div>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col m6 s12">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="col s12">
                                                <h4 class="card-title">French</h4>
                                                <div class="input-field col s12">
                                                    <input placeholder="Title" id="FrTitle" name="FrTitle" type="text" value="<%= package.fr.title %>">
                                                    <label for="FrTitle">Title</label>
                                                    <small>
                                                        <div id="FrTitleErr" class="error"></div>
                                                    </small>
                                                </div>
                                                <div class="input-field col s12">
                                                    <textarea id="FrDesc" class="materialize-textarea" name="FrDesc" placeholder="Enter description"><%= package.fr.description %></textarea>
                                                    <label for="FrDesc">Description</label>
                                                    <small>
                                                        <div id="FrDescErr" class="error"></div>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="col s12">
                                                <div class="input-field col m6 s12">
                                                    <input placeholder="Price" id="price" name="price" type="text" value="<%= package.price %>" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
                                                    <small>
                                                        <div id="error3" class="error"></div>
                                                    </small>
                                                    <label for="price">Price</label>
                                                </div>
                                                <div class="input-field col m6 s12">
                                                    <input placeholder="Minimum term" id="term" name="term" type="text" value="<%= package.term %>" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                                                    <small>
                                                        <div id="error6" class="error"></div>
                                                    </small>
                                                    <label for="term">Minimum term (Months)</label>
                                                </div>
                                                <div class="input-field col m4 s12">
                                                    <input placeholder="Annual return" id="annualReturn" name="annualReturn" type="text" value="<%= package.annualReturn %>" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
                                                    <small>
                                                        <div id="error5" class="error"></div>
                                                    </small>
                                                    <label for="annualReturn">Annual return (%)</label>
                                                </div>
                                                <div class="input-field col m4 s12">
                                                    <input placeholder="Monthly return" id="monthlyReturn" name="monthlyReturn" type="text" value="<%= package.monthlyReturn %>" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
                                                    <!-- <small><div id="error5" class="error"></div></small> -->
                                                    <label for="monthlyReturn">Monthly return (%)</label>
                                                </div>
                                                <div class="input-field col m4 s12">
                                                    <input placeholder="Monthly return" id="dailyReturn" name="dailyReturn" type="text" value="<%= package.dailyReturn %>" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
                                                    <!-- <small><div id="error5" class="error"></div></small> -->
                                                    <label for="dailyReturn">Daily return (%)</label>
                                                </div>
                                                <div class="input-field col s12">
                                                    Upload Image
                                                    <input type="file" accept="image/png, image/jpeg" name="image" id="input-file-now" class="dropify" data-disable-remove="true" data-default-file="<%= package.image %>" />
                                                    <small>
                                                        <div id="error4" class="error"></div>
                                                    </small>
                                                </div>
                                                <button type="submit" class="btn purple ml-1" id="submitBtn">Submit</button>
                                                <a href="/admin/package" class="btn btn-danger">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="content-overlay"></div>
            </div>
        </div>
    </div>
    <!-- END: Page Main-->

    <script>
        const formC = document.getElementById('form');

        formC.addEventListener('submit', (e) => {
            e.preventDefault();
        })

        function validate() {
            let returnVal = true;

            const EnTitleValue = document.getElementById('EnTitle').value.trim();
            const EnDescValue = document.getElementById('EnDesc').value.trim();
            const FrTitleValue = document.getElementById('FrTitle').value.trim();
            const FrDescValue = document.getElementById('FrDesc').value.trim();
            const priceValue = document.getElementById('price').value.trim();
            const annualReturnValue = document.getElementById('annualReturn').value.trim();
            const termValue = document.getElementById('term').value.trim();
            const filevalue = document.getElementById('input-file-now').value;
            const ext = filevalue.substring(filevalue.lastIndexOf('.') + 1);

            if (EnTitleValue == '') {
                document.getElementById('EnTitleErr').innerText = 'Please enter title.';
                returnVal = false;
            } else {
                document.getElementById('EnTitleErr').innerText = '';
            }

            if (FrTitleValue == '') {
                document.getElementById('FrTitleErr').innerText = 'Please enter title.';
                returnVal = false;
            } else {
                document.getElementById('FrTitleErr').innerText = '';
            }

            if (EnDescValue == '') {
                document.getElementById('EnDescErr').innerText = 'Please enter description';
                returnVal = false;
            } else {
                document.getElementById('EnDescErr').innerText = '';
            }

            if (FrDescValue == '') {
                document.getElementById('FrDescErr').innerText = 'Please enter description';
                returnVal = false;
            } else {
                document.getElementById('FrDescErr').innerText = '';
            }

            if (priceValue == '') {
                document.getElementById('error3').innerText = 'Please enter price.';
                returnVal = false;
            } else {
                document.getElementById('error3').innerText = '';
            }

            if (termValue == '') {
                document.getElementById('error6').innerText = 'Please enter minimum term.';
                returnVal = false;
            } else {
                document.getElementById('error6').innerText = '';
            }

            if (annualReturnValue == '') {
                document.getElementById('error5').innerText = 'Please enter annual return.';
                returnVal = false;
            } else {
                document.getElementById('error5').innerText = '';
            }

            if (filevalue == '') {
                document.getElementById('error4').innerText = '';
            } else if (ext == 'png' || ext == 'jpeg' || ext == 'jpg') {
                document.getElementById('error4').innerText = '';
            } else {
                document.getElementById('error4').innerText = 'Wrong file type.';
                returnVal = false;
            }

            if (returnVal) {
                document.getElementById('submitBtn').disabled = true;
                formC.submit();
            }
        }
    </script>
    <!-- BEGIN VENDOR JS-->
    <script src="/app-assets/js/vendors.min.js"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN THEME  JS-->
    <script src="/app-assets/js/plugins.js"></script>
    <script src="/app-assets/js/scripts/ui-alerts.js"></script>
    <!-- END THEME  JS-->
    <!-- ===== ckeditor JavaScript ===== -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script>
    <script src="/app-assets/js/scripts/form-file-uploads.min.js"></script>
</body>
<%- include('_layouts/alert') %>

</html>