<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>User View | Investigo</title>
    <link rel="apple-touch-icon" href="/app-assets/images/favicon/apple-touch-icon-152x152.png">
    <link rel="shortcut icon" type="image/x-icon" href="/app-assets/images/logo/favicon.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- BEGIN: VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/flag-icon/css/flag-icon.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="/app-assets/vendors/data-tables/css/jquery.dataTables.min.css"> -->
    <!-- END: VENDOR CSS-->
    <!-- BEGIN: Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/css/themes/vertical-dark-menu-template/materialize.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/themes/vertical-dark-menu-template/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-tables.css"> -->
    <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/page-users.css">
    <!-- END: Page Level CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/css/custom/custom.css">
    <!-- END: Custom CSS-->
</head>
<!-- END: Head-->

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-dark-menu preload-transitions 2-columns   " data-open="click" data-menu="vertical-dark-menu" data-col="2-columns">
    <%- include('_layouts/sidenavbar') %>

    <!-- BEGIN: Page Main-->
    <div id="main">
        <div class="row">
            <div id="breadcrumbs-wrapper" data-image="/app-assets/images/gallery/breadcrumb-bg.jpg">
                <!-- Search for small screen-->
                <div class="container">
                    <div class="row">
                        <div class="col s12 m6 l6">
                            <h5 class="breadcrumbs-title mt-0 mb-0"><span>User View</span></h5>
                        </div>
                        <div class="col s12 m6 l6 right-align-md">
                            <ol class="breadcrumbs mb-0">
                                <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                                <li class="breadcrumb-item"><a href="/admin/user">User</a></li>
                                <li class="breadcrumb-item active">User View</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="container">
                    <!-- users view start -->
                    <div class="section users-view">
                        <!-- users view media object start -->
                        <div class="card-panel">
                            <div class="row">
                                <div class="col s12 m7">
                                    <div class="display-flex media">
                                        <img src="<%= user.image %>" alt="users view avatar" class="z-depth-2 circle mr-3" height="64" width="64" onerror="this.onerror=null; this.src='/uploads/default_user.jpg';">
                                        <div class="media-body">
                                            <h6 class="media-heading">
                                                <span class="users-view-name"><%= user.fname + ' ' + user.lname %></span>
                                            </h6>
                                            <span>ID:</span>
                                            <span class="users-view-id"><%= user.userId %></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- users view media object ends -->

                        <!-- users view card details start -->
                        <div class="card">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12">
                                        <table class="striped">
                                            <tbody>
                                                <tr>
                                                    <th style="width: 200px;">Name:</th>
                                                    <td><%= user.fname + " " + user.lname %></td>
                                                </tr>
                                                <tr>
                                                    <th>E-mail:</th>
                                                    <td><%= user.email %></td>
                                                </tr>
                                                <tr>
                                                    <th>UserId:</th>
                                                    <td><%= user.userId %></td>
                                                </tr>
                                                <% if (user.national) { %>
                                                <tr>
                                                    <th>National number:</th>
                                                    <td><%= user.national %></td>
                                                </tr>
                                                <% } %>
                                                <% if (user.phone) { %>
                                                <tr>
                                                    <th>Phone number:</th>
                                                    <td><%= user.phone %></td>
                                                </tr>
                                                <% } %>
                                                <% if (user.youAre) { %>
                                                <tr>
                                                    <th>User type:</th>
                                                    <td><%= user.youAre %></td>
                                                </tr>
                                                <% } %>
                                                <% if (user.tvaNumber) { %>
                                                <tr>
                                                    <th>TVA number:</th>
                                                    <td><%= user.tvaNumber %></td>
                                                </tr>
                                                <% } %>
                                                <% if (user.enterprise) { %>
                                                <tr>
                                                    <th>Enterprise:</th>
                                                    <td><%= user.enterprise %></td>
                                                </tr>
                                                <% } %>
                                            </tbody>
                                        </table>

                                        <% if (paymentMethods.length > 0) { %>
                                        <h6 class="mb-1 mt-2">Payment methods</h6>
                                        <table class="striped">
                                            <thead>
                                                <tr>
                                                    <th style="width: 200px;">Card number</th>
                                                    <th style="width: 200px;">Network</th>
                                                    <th>Expiry</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for( let i = 0; i < paymentMethods.length; i++ ) { %>
                                                <tr>
                                                    <td><%= paymentMethods[i].card %></td>
                                                    <td><%= paymentMethods[i].network %></td>
                                                    <td><%= paymentMethods[i].expiry %></td>
                                                </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                        <% } %>

                                        <% if (user.instagram || user.website || user.linkedin) { %>
                                        <h6 class="mb-2 mt-2">Social Links</h6>
                                        <table class="striped">
                                            <tbody>
                                                <% if (user.instagram) { %>
                                                <tr>
                                                    <td style="width: 200px;">Instagram:</td>
                                                    <td><a href="<%= user.instagram %>"><%= user.instagram %></a></td>
                                                </tr>
                                                <% } %>
                                                <% if (user.linkedin) { %>
                                                <tr>
                                                    <td style="width: 200px;">Linkedin:</td>
                                                    <td><a href="<%= user.linkedin %>"><%= user.linkedin %></a></td>
                                                </tr>
                                                <% } %>
                                                <% if (user.website) { %>
                                                <tr>
                                                    <td style="width: 200px;">Website:</td>
                                                    <td><a href="<%= user.website %>"><%= user.website %></a></td>
                                                </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                        <% } %>

                                        <% if (current.length > 0) { %>
                                        <div class="section section-data-tables">
                                            <div class="row">
                                                <div class="col s12 overflow">
                                                    <h6 class="mb-2 mt-2">Current investments</h6>
                                                    <table id="page-length-option" class="display striped">
                                                        <thead>
                                                            <tr>
                                                                <th>Sr</th>
                                                                <th>Package</th>
                                                                <th>Amount</th>
                                                                <th>Project</th>
                                                                <th>Date invested</th>
                                                                <th>Term end date</th>
                                                                <th>Return</th>
                                                                <th>View</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% for( let i=0; i < current.length; i++ ) { %>
                                                            <tr>
                                                                <td style="width: 50px;"><%= i+1 %></td>
                                                                <td style="width: 70px;"><%= current[i].package.en.title %></td>
                                                                <td style="width: 50px;"><%= current[i].package.price %></td>
                                                                <td style="width: 150px;"><%= current[i].project.en.title %></td>
                                                                <td style="width: 70px;"><%= current[i].orderDate.toLocaleDateString('en-GB') %></td>
                                                                <td style="width: 70px;"><%= current[i].endDate.toLocaleDateString('en-GB') %></td>
                                                                <td style="width: 80px;"><%= current[i].returnAmount %></td>
                                                                <td style="width: 80px;"><a href="/admin/order/<%= current[i].id %>"><i class="material-icons">remove_red_eye</i></a></td>
                                                            </tr>
                                                            <% } %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>

                                        <% if (orders.length > 0) { %>
                                        <div class="section section-data-tables">
                                            <div class="row">
                                                <div class="col s12 overflow">
                                                    <h6 class="mb-2 mt-2">Orders</h6>
                                                    <table id="page-length-option" class="display striped">
                                                        <thead>
                                                            <tr>
                                                                <th>Sr</th>
                                                                <th>Package</th>
                                                                <th>Amount</th>
                                                                <th>Project</th>
                                                                <th>Date invested</th>
                                                                <th>Term end date</th>
                                                                <th>Return</th>
                                                                <th>View</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% for( let i=0; i < orders.length; i++ ) { %>
                                                            <tr>
                                                                <td style="width: 50px;"><%= i+1 %></td>
                                                                <td style="width: 70px;"><%= orders[i].package.en.title %></td>
                                                                <td style="width: 50px;"><%= orders[i].package.price %></td>
                                                                <td style="width: 150px;"><%= orders[i].project.en.title %></td>
                                                                <td style="width: 70px;"><%= orders[i].orderDate.toLocaleDateString('en-GB') %></td>
                                                                <td style="width: 70px;"><%= orders[i].endDate.toLocaleDateString('en-GB') %></td>
                                                                <td style="width: 80px;"><%= orders[i].returnAmount %></td>
                                                                <td style="width: 80px;"><a href="/admin/order/<%= orders[i].id %>"><i class="material-icons">remove_red_eye</i></a></td>
                                                            </tr>
                                                            <% } %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="row">
                                    <a onclick="history.back()" class="btn btn-danger mt-2" style="margin-left: 15px;">Back</a>
                                </div>
                            </div>
                        </div>
                        <!-- users view card details ends -->

                    </div>
                    <!-- users view ends -->
                </div>
                <div class="content-overlay"></div>
            </div>
        </div>
    </div>
    <!-- END: Page Main-->

    <!-- BEGIN VENDOR JS-->
    <script src="/app-assets/js/vendors.min.js"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <!-- <script src="/app-assets/vendors/data-tables/js/jquery.dataTables.min.js"></script> -->
    <!-- <script src="/app-assets/vendors/data-tables/extensions/responsive/js/dataTables.responsive.min.js"></script> -->
    <!-- <script src="/app-assets/vendors/data-tables/js/dataTables.select.min.js"></script> -->
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN THEME  JS-->
    <script src="/app-assets/js/plugins.js"></script>
    <script src="/app-assets/js/scripts/ui-alerts.js"></script>
    <script src="/app-assets/js/search.js"></script>
    <script src="/app-assets/js/custom/custom-script.js"></script>
    <!-- END THEME  JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="/app-assets/js/scripts/page-users.js"></script>
    <script src="/app-assets/js/scripts/data-tables.js"></script>
    <!-- END PAGE LEVEL JS-->
</body>
<%- include('_layouts/alert') %>

</html>